USE [master]
GO
/****** Object:  Database [BobsShoes]    Script Date: 8/13/2023 11:42:13 AM ******/
CREATE DATABASE [BobsShoes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BobsShoes', FILENAME = N'D:\SQLServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\BobsShoes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 0), 
 FILEGROUP [BobsData]  DEFAULT
( NAME = N'BobsShoes_Data', FILENAME = N'D:\BobsShoes\BobsShoesData\BobsShoes_Data.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 0)
 LOG ON 
( NAME = N'BobsShoes_log', FILENAME = N'D:\BobsShoes\BobsShoesLogs\BobsShoes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 0)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BobsShoes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BobsShoes]
GO
/****** Object:  Schema [Orders]    Script Date: 8/13/2023 11:42:14 AM ******/
CREATE SCHEMA [Orders]
GO
/****** Object:  Table [Orders].[OrderTracking]    Script Date: 8/13/2023 11:42:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Orders].[OrderTracking](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime2](0) NOT NULL,
	[RequestedDate] [datetime2](0) NOT NULL,
	[DeliveryDate] [datetime2](0) NULL,
	[CustName] [nvarchar](200) NOT NULL,
	[CustAddress] [nvarchar](200) NOT NULL,
	[ShoeStyle] [varchar](200) NOT NULL,
	[ShoeSize] [varchar](10) NOT NULL,
	[SKU] [char](8) NOT NULL,
	[UnitPrice] [numeric](7, 2) NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[Discount] [numeric](4, 2) NOT NULL,
	[IsExpedited] [bit] NOT NULL,
	[TotalPrice]  AS (([Quantity]*[UnitPrice])*((1.0)-[Discount])),
 CONSTRAINT [PK_OrderTracking_OrderId] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [BobsData]
) ON [BobsData]
GO
USE [master]
GO
